name: Deploy

on:
  push:
    branches:
      - main 
      - Dockerized-backend

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            cd /home/deploy/Fluently-fork/backend
            git pull origin ${{ github.ref_name }}
            docker compose down
            docker compose up -d --build

            # Should speed up the proccess, and be used instead of docker compose up -d --build
            # But it does not work 
            # //TODO
            # docker build --build-arg BUILDKIT_INLINE_CACHE=1 -t fluently-app .
            
